@import "../base/variables";

@media screen and (max-width: 767px) {
  .section {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2f303a;
    padding: 60px 0;
  }

  .footer-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .foot-info {
    display: flex;
    flex-direction: column;
  }
  .logos {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .logo-foot {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
  }

  .header-foot {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: $add-color;
  }

  .adress {
    font-style: normal;
    text-align: center;
    line-height: 1.7;
    color: var(--filter-menu);
    margin-top: 20px;
    color: $text-color;
  }

  .foot-link {
    text-align: center;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
  }

  .fotter-link:not(:last-child) {
    margin-bottom: 9px;
  }
  .foot-social {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  .foot-social__icons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  .foot-login {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
  }

  // SOCIAL_ICON

  .foot-social {
    display: flex;
  }
  .foot-login {
    display: flex;
    flex-direction: column;
  }
  .foot-social__icons-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .foot-social__icons-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .foot-social__icons-title:not(:last-child) {
    margin-right: 10px;
  }

  // E-MAIL MASSAGE

  .mail {
    position: relative;
  }

  .mail-list {
    display: flex;
    flex-direction: column;
  }
  .mail-list-form {
    display: flex;
    position: relative;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin-top: 60px;
    justify-content: center;
    bottom: 20px;
  }
  .mail-list-input {
    width: 420px;
    height: 50px;
    top: 20px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .mail-list-lable::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;
  }
  .mail-list-btm {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
    left: 50%;
    transform: translateX(-45%);
    background-color: $add-color;
  }
  .mail-list-logon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    padding-left: 31px;
    padding-right: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $text-color;
  }
  .icon-send {
    position: absolute;
    top: 13px;
    right: 13px;
    fill: $text-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .footer {
    display: flex;
    background-color: #2f303a;
  }
  .footer-data {
    display: flex;
    flex-direction: column;
  }
  .for-tabler {
    display: flex;
    justify-content: center;
  }
  .foot-info {
    display: flex;
    flex-direction: column;
  }
  .header-foot {
    display: flex;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: $add-color;
    padding-top: 60px;
    justify-content: center;
  }
  .logo {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .logo-foot {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
  }
  .adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-top: 20px;
  }
  .map-adress {
    display: flex;
    flex-direction: column;
  }
  .foot-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $icon-color;
  }
  .foot-link:not(:last-child) {
    margin-bottom: 8px;
  }

  // FOOT-SOCIAL

  .foot-social {
    display: flex;
    flex-direction: column;
  }

  .foot-login {
    display: flex;
    margin-top: 65px;
    margin-bottom: 20px;
    margin-left: 234px;
  }

  .foot-social__icons-list {
    display: flex;
    flex-direction: row;
    margin-left: 165px;
  }

  .foot-social__icons-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .foot-social__icons-title:not(:last-child) {
    margin-right: 10px;
  }
  .foot-icons-color {
    fill: $text-color;
  }

  // E-MAIL

  .mail {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  .mail-list {
    display: flex;
    flex-direction: column;
  }
  .mail-list-form {
    display: flex;
    position: relative;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
    margin-top: 60px;
    justify-content: center;
    bottom: 20px;
  }
  .mail-list-input {
    width: 420px;
    height: 50px;
    top: 20px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .mail-list-input {
    padding-left: 15px;
  }

  .mail-list-lable::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;
  }
  .mail-list-btm {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
    left: 50%;
    transform: translateX(-45%);
    background-color: $add-color;
  }
  .mail-list-logon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    padding-left: 31px;
    padding-right: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $text-color;
  }
  .icon-send {
    position: absolute;
    top: 13px;
    right: 13px;
    fill: $text-color;
  }
}
