.modal-button {
    display: block;
    padding: 10px 56px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: var(--text-color);
    background: $add-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $add-color;
}

.modal-butteon-list {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}